<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.home.picturepick">

    <uses-feature android:name="android.hardware.camera" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 写入SD卡的权限：如果你希望保存相机拍照后的照片 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读取SD卡的权限:打开相册选取图片所必须的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--      android:requestLegacyExternalStorage="true"加上这句可以适配android10读取外部照片的问题
       这个问题是Android 10才出现的，Android10以下的都没有，这里主要说的不是动态申请访问文件的权限问题。-->
    <!--    因为我已经动态申请了权限，并且在获得权限后存储文件报的这个错误。-->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/animAppTheme"
        tools:targetApi="q">
        <activity
            android:name=".CollapsingActivity"
            android:theme="@style/collpsingActivityStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".selectImage.ImageSelectActivity" />
        <activity android:name=".AddImageActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.home.picturepick.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--静态注册一个广播接收器，专门接收的intentFilter action是时间变化，
        在安卓8.0以后，隐式广播都不允许用静态注册的方式来接收了。除了部分特殊的之外（例如开机的可以，但是也要加上权限才行）
        隐式广播指的是没有具体指定发送给哪个应用程序的广播。
        所以以下的方式做时间的变化广播是不再生效了的。
        android:exported="true"表示允许接收本程序以外的广播-->
        <!--        <receiver-->
        <!--            android:name=".broadcast.TimeChangeReceiver"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.TIME_TICK" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

    </application>

</manifest>